.crm-main-panel {
  position: relative;
  height: calc(100vh - 112px);
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 4px 4px 8px #ccc;
  margin: 15px;
  overflow: auto;
}